/** Reset CSS - start **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

/** /Reset CSS - end **/

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/** Task 1 styles - start **/
#categories {
  width: 440px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#categories h2 {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  
}

#categories li {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#categories .item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #F6F6FE;
}

#categories .item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#categories .item li {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

/** Task 1 styles - end **/

/** Task 2 styles - start **/
.gallery {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  width: 1440px;
  padding: 100px 156px;
}

.gallery img {
  width: 360px;
}

/** Task 2 styles - end **/

/** Task 3 styles - start **/

#name-input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  display: inline-block;
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

#name-input:hover {
  border-color: #000;
}

#name-output {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

/** Task 3 styles - end **/

/** Task 4 styles - start **/

.login-form {
  width: 408px;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.login-form label {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  width: 100%;
}

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

.login-form input:hover {
  border-color: #000;
}

.login-form button {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-top: 8px;
  border-radius: 8px;
  background: #4E75FF;
  padding: 8px 16px;
  border: none;
}

.login-form button:hover {
  cursor: pointer;
  background: #6C8CFF;
}

/** Task 4 styles - end **/

/** Task 5 styles - start **/

.widget {
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 100px 88px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.widget button {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-top: 8px;
  border-radius: 8px;
  background: #4E75FF;
  padding: 8px 16px;
  border: none;
}

.widget button:hover {
  cursor: pointer;
  background: #6C8CFF;
}

/** Task 5 styles - end **/

/** Task 6 styles - end **/

#controls {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: #F6F6FE;
  justify-content:center;
}


#controls input {
  padding: 8px;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #808080;
  display: inline-block;
}

#controls input:hover {
  border-color: #000;
}

#controls button {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-block;
    border-radius: 8px;
    background: #4E75FF;
    padding: 8px 16px;
    border: none;
}

#controls button:hover,
#controls button:focus {
  background: #6C8CFF;
  cursor: pointer;
}

#controls button:last-child {
  background: #FF4E4E;
}

#controls button:last-child:hover,
#controls button:last-child:focus {
  background: #FF7070;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 8px;
  background: #F6F6FE;
}

/** Task 6 styles - end **/